<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pendrives</title>
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"> </script>
  <style>
    body {
        font-family: 'Roboto', sans-serif;
        background-image: url("../../static/img/background.jpg");
    }
</style>
</head>

<body onload="loadEventListenrs()">

  {% include 'base/header.html'%}

  <main>
    
    <br>

    <!-- Inicio cards -->
    <h3 class="seccion"> Pendrives</h3>
    <br>
    <div class="row row-cols-1 row-cols-md-2 g-4" onload="loadEventListenrs()">

      <div class="products">
        <div class="card">
          <img src="{% static 'img/pendrive.png' %}" class="rounded mx-auto d-block" alt="cargando..." height="300px" width="300px">
          <div class="card-body">
            <h5 class="card-title"> <a href="especificacion.html" target="_blank">Pendrive Sandisk Cruzer Blade 128gb
                2.0 Negro Y Rojo</a></h5>
            <p class="precio"> $4.650</p>
            <button type="button" class="btn-add-cart" data-id="1">Añadir al carrito</button>
          </div>
        </div>
      </div>


      <div class="products">
        <div class="card">
          <img src="{% static 'img/pendrive2.png' %}" class="rounded mx-auto d-block" alt="cargando..." height="300px" width="300px">
          <div class="card-body">
            <h5 class="card-title">Pendrive 32GB Kingston DataTraveler DT100 G3</h5>
            <p class="precio">$4.990</p>
            <button type="button" class="btn-add-cart" data-id="2">Añadir al carrito</button>
          </div>
        </div>
      </div>

      <div class="products">
        <div class="card">
          <img src="{% static 'img/pendrive3.png' %}" class="rounded mx-auto d-block" alt=" cargando..." height="300px" width="300px">
          <div class="card-body">
            <h5 class="card-title">Pendrive Lexar Jumpdrive S80 64GB USB 3.1</h5>
            <p class="precio" id="precio">$7.990</p>
            <button type="button" class="btn-add-cart" data-id="3">Añadir al carrito</button>
          </div>
        </div>
      </div>

      <div class="products">
        <div class="card">
          <img src="{% static 'img/pendrive4.png' %}" class="rounded mx-auto d-block" alt="cargando..." height="300px" width="300px">
          <div class="card-body">
            <h5 class="card-title">Pendrive Adata C008 8GB 2.0 azul</h5>
            <p class="precio">$4.580</p>
            <button type="button" class="btn-add-cart" data-id="4">Añadir al carrito</button>

          </div>
        </div>
      </div>
    </div>
    <br>
    <!-- Fin cards -->
   
    {% include 'base/footer.html'%}

  </main>


  <script src="{% static 'js/carrito.js' %}"></script>
 



</body>

</html>