<header>

    <nav class="navbar navbar-expand-lg bg-body-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'indexPrincipal' %}" id="titulo">Tienda Muchacho</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav me-auto mb-2-lg-0">

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'indexPrincipal' %}">Inicio</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'servicios' %}">Servicios</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'indexContacto' %}">Contacto</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Catálogo
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'pendrivesec' %}">Pendrives</a></li>
                            <li><a class="dropdown-item" href="{% url 'parlantesec'%}">Parlantes</a></li>
                            <li><a class="dropdown-item" href="{% url 'audifonosec' %}">Audifonos</a></li>
                        </ul>

                </ul>
                <a href="{% url 'login' %}">
                    <button type="button" id="userIcon">
                        <i class="bi bi-person"></i>
                    </button>
                </a>

                <button type="button" id="cartIcon">
                    <i class="bi bi-cart2" onclick="showCart(this)" class="cart"></i>
                  </button>
                  <span id="count-product">0</span>
                </div>
                <div class="cart-products" id="products-id">
                  <br>
                  <button type="button" class="btn-close" aria-label="Close" onclick="closeBtn()"></button>
                  <h3>Mi carrito</h3>
                  <div class="card-items">
                    <div class="card-cart">
      
                      <!--  prueba de vista producto
                    <img src="img/pendrive2.png" class="rounded mx-auto d-block" alt="cargando..." height="300px" width="300px">
                    <div class="card-body">
                    <h5 class="card-title">Pendrive 32GB Kingston DataTraveler DT100 G3</h5>
                    <p class="precio">$4.990</p>
                    <h6>Amount: 3</h6> 
                    <span class="delete-product" data-id="">X</span> -->
      
                    </div>
      
                  </div>
                  <h2>Total: $<strong class="price-total">0</strong></h2>
                </div>
              </div>
            </div>

    </nav>
    <script>
        function showCart(x) {
          document.getElementById("products-id").style.display = "block";
        }
        function closeBtn() {
          document.getElementById("products-id").style.display = "none";
        }
    
      </script>
</header>