.navbar {
    background-color: #0d09e7;

}

.navbar-nav .nav-link .bi {

    font-size: 1.0rem;

}

.nav-item.d-flex {
    margin-left: 10px;
    width: 20%;
}

#userIcon,
#logoutIcon {
    color: #2e2b2b;
    background-color: transparent;
    border: none;
    font-size: 1.8rem;
    /* margin: auto; */

}